/target/
/bin/
/build/

#In einem Projekt, das kein Web Projekt ist, den WebContent nicht übertragen.
/WebContent/

# Auch ggfs. im WebService gebaute .class Dateien ausschliessen. In beliebigem Unterverzeichnis.
# With version 1.8.2 of git, you can also use the ** wildcard to match any level of subdirectories:
#/WebContent/WEB-INF/services/**/*.class

#Überall ggfs. anfallende Log Dateien ausschliessen
*.log
*.log.*
