/target/
/bin/

#In einem Projekt, das kein Web Projekt ist, den WebContent nicht übertragen.
/WebContent/

# Auch ggfs. im WebService gebaute .class Dateien ausschliessen. In beliebigem Unterverzeichnis.
#/WebContent/WEB-INF/services/**/*.class
